
@{
    ViewBag.Title = "تماس با نرم افزار باسکول توزین نگار";
    ViewBag.Meta = ViewBag.Title;
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
}

    <div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;text-align:center">
        <br />
        <h1 style="text-align:center;">@ViewBag.Title</h1>
        <br />
        <br />

        <p style="text-align:center">
            <a style="font-size:larger" href="https://www.instagram.com/towzinnegar" target="_blank">
                <br />                
                <img src="~/Content/shared/images/TowzinNegar/Instagram-v051916.png" style="max-width:40vw;max-height:20vw;" class="center-block" alt="اینستاگرام نرم افزار باسکول" />
            </a>
            <a style="font-size:larger;text-align:center" target="_blank" href="https://www.instagram.com/towzinnegar"> صفحه اینستاگرام نرم افزار باسکول توزین نگار</a>
        </p>
        <br />
    </div>
<br />


<div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;min-width:400px;max-width:100%;">

    <a href="https://www.instagram.com/towzinnegar" target="_blank">
        <img class="center-block" src="~/Content/shared/images/TowzinNegar/Contact.png" style="max-width:40vw;max-height:20vw;" alt="Contact TowzinNegar Weighing Scale" />
    </a>

</div>