
@{
    ViewBag.Title = "لیست مشتریان";
    ViewBag.Meta = ViewBag.Title;
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
}



    <div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;min-width:400px;max-width:100%;">
        <br />
        <h1 style="text-align:center;">@ViewBag.Title</h1>
        <br />
        <h3 style="text-align: center;">لیست تعدادی ازپروژه های انجام شده</h3>
        <h5 style="margin-right:20px;">

            <br /><br /><br />1- روغن نباتی بهشهر (باسکول دوقلو ورودی خروجی ) <br />
            <br />2- باسکول امین <br />
            <br />3- باسکول نوین <br />
            <br />4- شرکت تولیدی تهران <br />
            <br />5- آهن آلات صدقی<br />
            <br />6- انبارهای مهرآباد<br />
            <br />7- ایریانیک (لیبل پرینتر)<br />
            <br />8- پلی تک سیرجان ( رسم نمودار وزن وپرینت آن)<br />
            <br />9- سیمان فراز فیروزکوه(باسکول دوقلو ورودی خروجی )<br />
            <br />10- ایران یاسا<br />
            <br />11- آرد بهنام<br />
            <br />12- کیوان برش<br />
            <br />13-شرکت آذر بام تبریز<br />
            <br />14-شرکت ستاره نخ تبریز  ( بارکد + لیبل پرینتر ZEBRA)<br />
            <br />15-شرکت فولاد اکسین خوزستان<br />
            <br />16-باسکول رستمی<br />
            <br />17-باسکول توسعه پرند<br />
            <br />18-شرکت هفت الماس<br />
            <br />19-شرکت آهن آلات سالار فلز<br />
            <br />20-شرکت فولاد سازان هادی<br />
            <br />21-شرکت فولاد سازی کاوه<br />
            <br />22-شرکت شن و ماسه درتخت علی گودرز ازنا<br />
            <br />23-شرکت آریانا آسفالت متین<br />
            <br />24-پادگان شهید محلاتی<br />
            <br />25-شرکت بین المللی سیمان ساروج بوشهر(باسکول دوقلو ورودی خروجی )<br />
            <br />26-گروه صنعتی گودرزی<br />
            <br />27-نفت پاسارگارد<br />
            <br />28-شرکت فرآوری زغال سنگ پرورده طبس<br />
            <br />29-معدن کیمیا شن<br />
            <br />30-شركت كيوان مرغ پر طلاي مهاباد<br />
            <br />31-فرودگاه پیام<br />
            <br />32-شركت آرد امید سمنان<br />
            <br />33-شركت بنیاد بتن خراسان<br />
            <br />34-شركت تعاونی خوراک دام و طیور سمنان<br />
            <br />35-شرکت کاشی گرانیت و لعاب زهره کاشمر<br />
            <br />36-شرکت سامان سفید<br />
            <br />37-شرکت كالا گستران امير<br />
            <br />38-شرکت فرآورده های بتونی گرمسار<br />
            <br />39-شرکت معادن سنگ آهن فلات شرق<br />
            <br />40-شرکت آرد ممتاز تبریز<br />
            <br />41-شرکت دخانیات تهران<br />
            <br />42-شرکت ابنیه و ساختمان پدیده شاندیز<br />
            <br />43-شرکت گچ نمونه سمنان<br />
            <br />44-شرکت یکتا زمان خراسان<br />
            <br />45-شرکت خاک نسوز استقلال آباده(سه عدد باسکول شبکه )<br />
            <br />46-شرکت تهران کانتینر بندرعباس<br />
            <br />47-شرکت زنجان گستران<br />
            <br />48-شهرداری پاوه<br />
            <br />49-شرکت کیان<br />
            <br />50-شرکت تعاونی مسکن رسا<br />
            <br />51-شرکت ریابی<br />
            <br />52-کشتارگاه سهیلیه<br />
            <br />53-پایدار بتن<br />
            <br />54-عرشیا بتن<br />
            <br />55-آسفالت علی آباد<br />
            <br />56-مجتمع فولاد بهکاران<br />
            <br />57-هشتمین نور<br />
            <br />58-کارخانه روغن طلایی نیشابور<br />
            <br />59-کارخانه آسفالت شهرداری شهرک رضویه<br />
            <br />60-انبار عدل بنیامین<br />
            <br />61-تامین ماسه ریخته گری<br />
            <br />62-نفت تهران<br />
            <br />63-سیمان ملایر<br />
            <br />64-برشکاری و آهن آلات پارسا مشهد<br />
            <br />65-معدن سنگ آهن احیا فولاد<br />
            <br />66-شرکت انبارهای عمومی و خدمات گمرکی مشهد<br />
            <br />67-سردخانه کوه یخ<br />
            <br />68-مینو ترابر گلستان<br />
            <br />69-باسکول بغدادی<br />
            <br />70-آجر نسوز امين آباد<br />
            <br />71-شمش ايرانيان<br />
            <br />72-ستاره خلیج فارس<br />
            <br />73-بازیافت رباط کریم<br />
            <br />74-هیمالیا<br />
            <br />75-ماموت<br />
            <br />76-زیرساخت<br />
            <br />77-متین قشم<br />
            <br />78-پترو رنگین کمان <br />
            <br />79-سردخانه خاورمیانه<br />
            <br />80-مندشتی <br />
            <br />81-باسکول اسماعیلی <br />
            <br />82-پارسیان کار دریا<br />
            <br />83-طلایه داران<br />
            <br />84-دژپاد <br />
            <br />85-برق بعثت <br />
            <br />86-انبار خسروی <br />
            <br />
            <br />
        </h5>
    </div>