
@{
    ViewBag.Title = "نشاندهنده توزین و باسکول";
    ViewBag.Meta = ViewBag.Title;
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
}

    <div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;min-width:400px;max-width:100%;">
        <h1 style="text-align:center;">@ViewBag.Title</h1>
        <br />
        <h3 style="text-align: center;">نشاندهنده باسکولت</h3>
        <h3 style="text-align:center;">Yaohua XK3190-A23P</h3>
        <h3 style="text-align: center;">فارسی شده توسط شرکت توزین نگار</h3>
        <h3 style="text-align:center;">تاریخ هجری شمسی و پرینت قبض فارسی</h3>
        <p style="text-align: center;"><strong><a title="مشاهده ویدئو کارکرد دستگاه" href="https://instagram.com/p/BrPUzFahxkq/" target="_blank">مشاهده ویدئو کارکرد دستگاه</a></strong></p>
        <br />
        <br />
        <img src="~/Content/shared/images/TowzinNegar/003.jpg" style="max-width:40vw;max-height:20vw;" class="center-block" alt="نشاندهنده باسکول" />
        <h5 style="margin-right:20px;text-align:center">
            <br />نشاندهنده باسکولت<br />
            <br />فارسی شده توسط شرکت توزین نگار<br />
            <br />تاریخ و ساعت هجری شمسی<br />
            <br />دارای سه دیسپلی ال سی دی جهت نمایش وزن قیمت واحد و قیمت کل<br />
            <br />دارای قابلیت قطعه شمار<br />
            <br />پر ،خالی و خالص سازی جهت استفاده در نیسان کش و خاور کش<br />
            <br />ذخیره سازی بیش از 3000 رکورد<br />
            <br />ذخیره سازی <br />
            <br /> بازیابی 100 عدد قیمت واحد<br />
            <br />دارای باطری داخلی جهت کارکرد بدون برق<br />
            <br />دارای خروجی سریال جهت ارتباط با کامپیوتر<br />
            <br />
            <br />
        </h5>
        <img class="center-block" src="~/Content/shared/images/TowzinNegar/yaohua-a23p-farsi-ticket.jpg" style="max-width:40vw;max-height:20vw;" alt="نشاندهنده توزین و باسکول" />
        <br />
        <br />


        <p style="text-align: center;"><strong>:Standard function</strong></p>
        <p style="text-align: center;"> </p>
        <p style="text-align: center;">Standard price-computing function</p>
        <p style="text-align: center;">Standard built-in stylus printer</p>
        <p style="text-align: center;">Able to save and call 100 unit prices</p>
        <p style="text-align: center;">Accumulation function, including accumulation display and accumulation clear, able to select to print details and accumulation note</p>
        <p style="text-align: center;">Able to inquiry the saved records by pressing the buttons</p>
        <p style="text-align: center;">Able to select items to print freely</p>
        <p style="text-align: center;">Simply counting function, and able to price-computing by the quantity</p>
        <p style="text-align: center;">Able to save, inquiry and print 1000 weighing records</p>
        <p style="text-align: center;">Standard RS232 interface, and optioanl communication format</p>
        <p style="text-align: center;">Optional high-low limits alarm function</p>
        <p style="text-align: center;">Optional KG/LB one-key switch function</p>
        <p style="text-align: center;"> </p>
        <p style="text-align: center;"> </p>
        <p style="text-align: center;"><strong>:Technical parameter</strong></p>
        <p style="text-align: center;"> </p>
        <p style="text-align: center;">Accuracy class: III</p>
        <p style="text-align: center;">Max verified counts: 3000</p>
        <p style="text-align: center;">Input signal range: -16 – 18mV</p>
        <p style="text-align: center;">AD conversion method: Σ-Δ</p>
        <p style="text-align: center;">Load cell excitation: DC 5V</p>
        <p style="text-align: center;">Load cell connection mode: 4 wire</p>
        <p style="text-align: center;">Number of connection load cell: 1 – 4 at 350Ω</p>
        <p style="text-align: center;">Power supply: AC220V, 50Hz; DC built-in 6V/5AH rechargeable battery</p>
        <p style="text-align: center;">Time for preheat: 15 minutes</p>
        <p style="text-align: center;">:Scoreboard interface</p>
        <p style="text-align: center;">Interface type: current loop</p>
        <p style="text-align: center;">Baud rate: 600</p>
        <p style="text-align: center;">Transmission distance: &lt;2000 meters</p>
        <p style="text-align: center;">Printer interface</p>
        <p style="text-align: center;">:Standard panel type mini printer</p>
        <p style="text-align: center;">Standard serial print interface, able to connect printer LQ-300K+, baud rate 9600</p>
        <p style="text-align: center;">:Serial communication interface</p>
        <p style="text-align: center;">RS232Transmission type: RS232</p>
        <p style="text-align: center;">Baud rate: 600/1200/2400/4800/9600optional</p>
        <p style="text-align: center;"> </p>
        <br />
        <br />
        <br />


    </div>

