
@{
    ViewBag.Title = "نمایشگر وزن Keli XK3118 T1";
    ViewBag.Meta = "نشاندهنده باسکول کلی تی وان فارسی شده توسط شرکت توزین نگار";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
}

    <style>
        p {
            margin-left: 40px;
            margin-right: 40px;
        }

        h2 {
            margin-left: 40px;
            margin-right: 40px;
        }

        h3 {
            margin-left: 40px;
            margin-right: 40px;
        }

        h4 {
            margin-left: 40px;
            margin-right: 40px;
        }
    
    </style>

 
    <div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;min-width:400px;max-width:100%;">
        <br />
        <h1 style="text-align: center;"> نمایشگر وزن Keli XK3118 T1-LED</h1>
        <h2 style="text-align: center;">بهمراه پرینتر حرارتی و تاریخ و ساعت فارسی</h2>
        <br />
        <h3 style="text-align: center;">قابلیت چاپ بارکد و کیو آر کد</h3>
        <br />
        <img src="~/Content/shared/images/TowzinNegar/T1-Thermal-Printer.png" style="max-width: 40vw; max-height: 80vw;" class="center-block" alt="نشاندهنده باسکول کلی مدل T1" />
        <br />
        <h4>ویژگی های نمایشگر کلی T1E :</h4>
        <br />
        <p>نمایشگر وزن T1E با صفحه نمایش نورانی</p>
        <ul>
            <li style=" margin-left: 40px;margin-right: 40px;">۱- نمایشگر وزن LED جهت استفاده در انواع ترازوهای الکترونیک</li>
            <li style=" margin-left: 40px;margin-right: 40px;">۲-قابلیت تغذیه حداکثر ۴ لودسل ۳۵۰ اهمی</li>
            <li style=" margin-left: 40px;margin-right: 40px;">۳-تبدیل آنالوگ به دیجیتال ۲۰ بیتی با حداکثر تعداد تقسیمات داخلی ۳۰۰۰۰۰ و حداکثر تعداد تقسیمات خارجی ۳۰۰۰۰</li>
            <li style=" margin-left: 40px;margin-right: 40px;">۴-دارای نرم افزار فیلتر دیجیتال برای نمایش پایدار وزن</li>
            <li style=" margin-left: 40px;margin-right: 40px;">۵- دارای نرم افزار قطعه شمار (Counting) و تجمیع بار (Accumulating)</li>
            <li style=" margin-left: 40px;margin-right: 40px;">۶- دارای باطری و آلارم صوتی هنگام نیاز به شارژ باطری</li>
            <li style=" margin-left: 40px;margin-right: 40px;">۷- نرم افزار خاموش شدن خودکار درصورت عدم استفاده</li>
            <li style=" margin-left: 40px;margin-right: 40px;">۸- دارای پورت سریال RS232</li>
        </ul>
        <br />
        <video width="683" height="330" style="max-width:54vw;max-height:25vw;" controls>
            <source src="~/Video/نشانگر وزن T1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <br />
        <h3 style="text-align: center;">فیلم نحوه توزین تکی نمایشگر وزن کیلی تی وان بهمراه چاپگر حرارتی</h3>
        <br />
        <br />
        <h3>مشخصات فنی نمایشگر وزن T1E :</h3>
        <p>&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;</p>
        <ul class="">
            <li style=" margin-left: 40px;margin-right: 40px;">ولتاژ تحریک لودسل۵ VDC / 150 mA</li>
            <li style=" margin-left: 40px;margin-right: 40px;">پشتیبانی لودسل : (Ω)حداکثر چهار لودسل ۳۵۰</li>
            <li style=" margin-left: 40px;margin-right: 40px;">مبدل آنالوک به دیجیتال (A/D) :دارای مبدل ۲۰ بیتی با حداکثر تعداد تقسیمات داخلی ۳۰۰۰۰۰ و حداکثر تعداد تقسیمات خارجی ۳۰۰۰۰</li>
            <li style=" margin-left: 40px;margin-right: 40px;">سرعت تبدیل (Samples per Second) :10 Sample/sec</li>
            <li style=" margin-left: 40px;margin-right: 40px;">حساسیت : ۱ μV/e</li>
            <li style=" margin-left: 40px;margin-right: 40px;">فیلتر دیجیتال : قابل تنظیم در سه حالت زیاد،متوسط،کم</li>
            <li style=" margin-left: 40px;margin-right: 40px;">محدوده اندازه گیری : -۱۰mV ~ 15mV</li>
            <li style=" margin-left: 40px;margin-right: 40px;">میزان خطی بودن (FS%) : &#8211;</li>
            <li style=" margin-left: 40px;margin-right: 40px;">پایداری حرارتی (ppm/ºC) : &#8211;</li>
            <li style=" margin-left: 40px;margin-right: 40px;">منبع تغذیه : ۱۸۴~۲۴۲ VAC</li>
            <li style=" margin-left: 40px;margin-right: 40px;">جریان :-</li>
            <li style=" margin-left: 40px;margin-right: 40px;">باطری :دارد</li>
            <li style=" margin-left: 40px;margin-right: 40px;">نوع باطری : ۶VDC / 4AH باطری خشک قابل شارژ</li>
            <li style=" margin-left: 40px;margin-right: 40px;">نمایشگر : ۶ عدد ۷ سگمنت LED با نور قرمز و ۶ عدد نشانگر وضعیت</li>
            <li style=" margin-left: 40px;margin-right: 40px;">محدوده نمایش : -۲۰۰۰ ~ +۱۵۰۰۰۰ (d=10)</li>
            <li style=" margin-left: 40px;margin-right: 40px;">تعداد ممیز : ۰-۳</li>
            <li style=" margin-left: 40px;margin-right: 40px;">زینه بندی : x1 x2 x5 x10 x20 x50</li>
            <li style=" margin-left: 40px;margin-right: 40px;">صفحه کلید : Membrane پنج یا شش دکمه بصورت</li>
            <li style=" margin-left: 40px;margin-right: 40px;">توابع نرم افزاری : اتوماتیک صفر کن ، قطعه شمار ، تجمیع بار</li>
            <li style=" margin-left: 40px;margin-right: 40px;">ابعاد (mm) : طول: ۲۴۸ ، عرض: ۱۵۸ ، ارتفاع: ۱۶۰</li>
            <li style=" margin-left: 40px;margin-right: 40px;">نحوه نصب : امکان نصب بر روی پایه، دیوار و رومیزی</li>
            <li style=" margin-left: 40px;margin-right: 40px;">نحوه اتصال سیم لودسل : D9F کانکتورهای</li>
            <li style=" margin-left: 40px;margin-right: 40px;">محدوده دمای تایید شده (ºC) : 0 ~ +40</li>
            <li style=" margin-left: 40px;margin-right: 40px;">محدوده دما (ºC) : 0 ~ +40</li>
            <li style=" margin-left: 40px;margin-right: 40px;">محدوده دمای کاری (ºC) : -20 ~ +50</li>
            <li style=" margin-left: 40px;margin-right: 40px;">رطوبت : ۹۰%</li>
            <li style=" margin-left: 40px;margin-right: 40px;">خروجی سریال RS232 : اختیاری</li>
            <li style=" margin-left: 40px;margin-right: 40px;">Baud Rate : 1200/2400/4800/9600 (bit/s)</li>
        </ul>
        <br />
        <video width="683" height="330" style="max-width:54vw;max-height:25vw;" controls>
            <source src="~/Video/نمایشگر وزن کلی تی وان.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <br />
        <h3 style="text-align: center;">فیلم نحوه کارکد اندیکاتور باسکولت Keli T1</h3>
        <h3 style="text-align: center;">بصورت چند توزینه</h3>
        <br />
        <img src="~/Content/shared/images/TowzinNegar/keli-T1-D.png" style="max-width: 40vw; max-height: 20vw;" class="center-block" alt="نشاندهنده باسکول کلی مدل T1" />
        <br />
        <h3 style="text-align: center;">
            نمایشگر ترازو کلی مدل T1 با صفحه نمایش LED
        </h3>
        <br />
    </div>
