
@{
    ViewBag.Title = "طراحی سایت";
    ViewBag.Meta = ViewBag.Title;
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
}


<style>
    h4 {
        margin-right: 20px;
        margin-left: 20px;
        text-align: right;
        direction: rtl;
    }

    img {
        margin-top: 30px;
        margin-bottom: 30px;
        width: 90%;
        border-radius:20px;
    }
</style>

<div class="center">
    <img src="~/Content/shared/images/TowzinNegar/web_desn.jpg" style="max-width:40vw;max-height:20vw;width:80%;" alt="طراحی سایت" class="center" />
</div>

<div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;min-width:400px;max-width:100%;">
    <h1 style="text-align:center;">@ViewBag.Title</h1>
    <br />
    <div class="center">
        <img src="~/Content/shared/images/TowzinNegar/asp_net_banner_img.png" style="        max-width: 40vw;
        max-height: 20vw;
" alt="طراحی سایت باسکول توزین"/>
    </div>
    <br />
    <h2 style="margin-right:20px;">  طراحی سایت  </h2>
    <h4 style="">
        <br />
        <br />
        در دنیای جدید حضور پر رنگ در فضای مجازی و تجارت الکترونیک و داشتن یک سایت حرفه ای از ملزومات رقابت جهانی می باشد. بدون داشتن یک سایت حرفه ای نمی توان وارد رقابت با افراد و شرکت های ملی و بین المللی شد. ضمن اینکه دارا بودن یک سایت حرفه ای پیش نیاز و مقدمه ی ورود به این رقابت فشرده است.
        <br />

        <br />
        از آنجایی که امروز بخش اعظمی از زندگی روزمره ما در اینترنت میگذرد، خیلی مهم است که اشخاصی که به دنبال شناساندن مهارت های خود به دیگران هستند تا بتوانند از این طریق مشتری جذب کنند و یا توسط کارفرمایان حرفه ای و برای انجام شغل های حرفه ای استخدام شوند، برای خود یک رزومه آنلاین ایجاد کنند که هم به خوبی بتواند سرویس ها، مهارت ها و قابلیت های این افراد را برای کارفرمایان بازگو کند و هم اینکه امکان برقراری ارتباط با این افراد و آشنایی هرچه بیشتر با سوابق کاری آنها را برای دیگران فراهم کند.
        <br />
        <br />
    </h4>
    <div class="center">
        <img src="~/Content/shared/images/TowzinNegar/responsive1.jpg" style="max-width:40vw;max-height:20vw;" alt="طراحی سایت توزین و باسکول"/>
    </div>
    <h4>
        اكنون داشتن وب سایت يكی از نيازهای اساسي هر واحد كاری است. به جرات مي توان گفت سريعترين و بهترين راه معرفي فعاليتها، محصولات و شركتها ايجاد يك طراحی سایت حرفه ای است. طراحی سایت و طراحی وب سایت بر روي اينترنت بسيار فراتر از دو مرحله برنامه نويسي و طراحی است. تسلط بر مراحل طراحی باعث سهولت و سرعت در انجام پروژه و افزايش كيفيت نهايی سايت خواهد شد. تيم طراحی وب سایت نونگار در اين زمينه در اختيار شما خواهند بود تا با بهره گيری از تخصص آنها به شما راه حلي جامع و حضوری موفق در اينترنت عرضه نماييم.
        <br />
        <img src="~/Content/shared/images/TowzinNegar/ASP.Net-Development.png" alt="ترکیب ای اس پی و باسکو توزین"/>
        <br />
        شرکت توزین نگار به شما کمک میکند که سایت حرفه ای خود را داشته باشید.
        <br />
        <br />
        <br />
    </h4>

    <div class="center">
        <img src="~/Content/shared/images/TowzinNegar/developr-responsive-preview-mrcode.ir_.jpg" style="max-width:40vw;max-height:20vw;" alt="سایت ریسپانسیو برای باسکول و توزین"/>
    </div>

</div>

