
@{
    ViewBag.Title = "ارسال اتوماتیک اس ام اس";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
    ViewBag.Meta = "برنامه ارسال اس ام اس اطلاعات باسکول";
}
<style>
    h2 {
        margin-right: 20px;
    }

    h5 {
        margin-right: 10px;
        margin-left: 10px;
    }
 
    img {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    p {
        margin-right: 20px;
    }
    li {
        margin-right: 25px;
    }
</style>



<div class="k-content k-rtl center-block" style="font-family: YekanIzady; width: 60%;min-width:400px;max-width:100%;">
    <br />
    <h1 style="text-align: center;">@ViewBag.Title</h1>
    <div class="center">
        <img src="~/Content/shared/images/TowzinNegar/prodoct-gsm.jpg" style="max-width:40vw;max-height:20vw;" alt="ارسال اس ام اس باسکول توزین"/>
    </div>
    <h2>ارسال مشخصات توزین توسط اس ام اس برای هر مشتری</h2>

    

    <p><strong>جی اس ام مودم چیست؟</strong></p>
    <p>جی اس ام (GSM) مخفف Global System for Mobile Telecommunications استاندارد موسسه استاندارد مخابراتی اروپا برای شبکه های سلولی نسل دوم(G2) تعریف شده است. این استاندارد جهت بروز رسانی و ارتقاء سرعت انتقال داده جایگزین شبکه مخابراتی نسل اول (شبکه های سلولی آنالوگ) شده بود. GSM ارتباط دو طرفه برای تماس های تلفنی به حساب می آید.</p>
    <p>مودم GSM یک دستگاه الکترونیکی-مخابراتی بدون سیم (wireless) است که با شبکه مخابراتی کار می کند.</p>
    <p>مودم GSM می تواند به صورت یک مودم خارجی (External) معمولا با پورت سریال(Serial) یا USB به کامپیوتر متصل می گردد. در حالت دوم مودم برای PC ، لپ تاپ یا تبلت تهیه شده است.</p>
    <p>همانند گوشی موبایل، یک GSM مودم نیز به یک سیم کارت برای اتصال به شبکه بی سیم مخابراتی نیاز دارد.</p>
    <p> اتحادیه GSM ادعا می کند که ۸۰% از مشترکین تلفن همراه از این استاندارد استفاده می کنند. این مقدار یعنی چیزی در حدود ۱٫۵میلیارد نفر در بیش از ۲۱۲ کشور. GSM یک شبکه سلولی است که موبایل ها با نزدیک ترین سلول در دسترس متصل می شوند. در شبکه GSM، چندین سایز متفاوت برای سلول ها وجود دارند که عبارتند از:</p>
    <ul>
        <li>ماکرو</li>
        <li>میکرو</li>
        <li>پیکو</li>
        <li>فمتو</li>
        <li>سلول های چتری</li>
    </ul>
    <p>سلول های ماکرو جاهایی که آنتن مرکزی روی دکل یا ساختمانی که ارتفاعش از میانگین ارتفاع ساختمانهای دیگر بلندتر است، نصب می شوند. سلول های میکرو ارتفاعی کوتاه تر از میانگین ارتفاع ساختمان ها دارند. معمولا این سلول ها در مناطق شهری مورد استفاده قرار می گیرند. سلول های پیکو که سلول های کوچکی هستند، برای مسافت های کوتاه و چند ده متری استفاده می شوند. سلول های فمتو سلول هایی هستند که در مناطق سلولی یا محیط های کوچک اداری استفاده می شوند و از طریق اتصالات با پهنای باند بزرگ به اینترنت وصل می شوند. سلول های چتری هم برای پوشش دادن مناطقی که سلول های کوچک دارند استفاده می شوند و شکاف های بین آنها را از بین می برند.</p>
    <p><strong> </strong><strong>هدف و کاربردهای استفاده از</strong><strong> </strong><strong>GSM</strong><strong> مودم چیست ؟</strong></p>
    <ul>
        <li>استفاده مکان هایی که خط تلفن ثابت وجود ندارد</li>
        <li>ارسال و دریافت پیامک تبلیغاتی.</li>
        <li>استفاده به عنوان کنترل کننده یا مانیتورینگ در دستگاهها.</li>
        <li>استفاده از فکس سیم کارت.</li>
        <li>به کارگیری دستگاه در ارسال و دریافت داده(GPRS)</li>
    </ul>
    <p>استفاده در نرم افزارهای کاربردی ماننده اتوماسیون اداری،مالی،رستورانی،آژانس ها و ....</p>
  

    <div class="center">
        <img src="~/Content/shared/images/TowzinNegar/SMSTN.jpg" style="max-width:50vw;max-height:60vw;" alt=" پیام کوتاه باسکول توزین"/>
        <h3 style="text-align:center">نرم افزار باسکول بهمراه ارسال اس ام اس</h3>
    </div>


        <div>
            
            <br />
        </div>

</div>