
@{
    ViewBag.Title = "مانیتورینگ و اتوماسیون صنعتی تحت وب";
    ViewBag.Meta = ViewBag.Title;
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";    
}
<style>
    h2 {
        margin-right:20px;
    }
    h5 {
        margin-right:10px;
        margin-left:10px;
    }
    img{
        margin-top:50px;
        margin-bottom:50px;
    }
</style>


<div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;min-width:400px;max-width:100%;">
    <h1 style="text-align:center;">@ViewBag.Title</h1>
    <h3 style="text-align:center">بویژه باسکول و سیستم های توزین</h3>
    <div class="center">
        <img src="~/Content/shared/images/TowzinNegar/monitoring.png" style="max-width:40vw;max-height:20vw;" alt="نرم‌تحت وب باسکول توزین"/>
    </div>
    <h2> مانیتورینگ تحت وب </h2>

    <h5>مانیتورینگ در لغت به معنای نظارت و پایش میباشد، در سیستمهایی که عملکرد صحیح و پایداری آنها اهمیت دارد، از سیستمهای مانیتورینگ استفاده میشود.</h5>
    <div class="center">
        <img src="~/Content/shared/images/TowzinNegar/web_application.png" style="max-width:40vw;max-height:20vw;" alt="نرم افزار توزین نگار تحت وب باسکول"/>
    </div>


    <div>
        @*<h4 style="text-align: center;"><span style="text-decoration: underline;"><strong><a title="نمونه برنامه تحت وب کمیسیون حمل" href="http://transport.towzinnegar.ir/Home/UserLogin" target="_blank">نمونه برنامه تحت وب کمیسیون حمل</a></strong></span></h4>
        <h4 style=" text-align: center;">کاربر = سرپرست</h4>
        <h4 style=" text-align: center;">پسوورد = 1</h4>*@
        <br />
    </div>

</div>