
@{
    ViewBag.Title = "بارنامه بتن";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
    ViewBag.Meta = "توزین و چاپ اطلاعات بتن و وزن تراک میکسر های مخصوص حمل بتن";
}



<style>
    p {
        margin-left: 40px;
        margin-right: 40px;
    }

    h2 {
        margin-left: 40px;
        margin-right: 40px;
    }

    h3 {
        margin-left: 40px;
        margin-right: 40px;
    }

    h1 {
        margin-left: 40px;
        margin-right: 40px;
    }

    ul {
        margin-left: 40px;
        margin-right: 40px;
    }
</style>


<div class="k-content k-rtl center-block" style="font-family: YekanIzady; width: 60%;min-width:400px;max-width:100%;">

    <br />
    <img src="~/Content/shared/images/TowzinNegar/BarnameBoton.png" style="max-width:40vw;max-height:20vw;" class="center-block" alt="بارنامه بتن " />
    <br />
    <h1>بارنامه بتن</h1>
    <p style="text-align: justify">در کارگاه های بتن نیاز هست بجای قبض باسکول معمول بارنامه بتن که شامل پارامترهای مخصوص ساخت بتن میباشد درج گردد .   </p>
    <p style="text-align: justify">  به همین دلیل ما در شرکت توزین نگار ورژن مخصوص کارگاههای بتن را طراحی وتولید نموده ایم تا پاسخگویه نیاز های این صنعت باشیم.  </p>
    <p style="text-align: justify">    </p>
    <br />
    <img src="~/Content/shared/images/TowzinNegar/BotonSoft.png" style="max-width:40vw;max-height:20vw;" class="center-block" alt="نرم افزار بتن " />
    <br />
    <p style="text-align:justify"> همانطور که در تصاویر ملاحظه مینمایید توزین خالی تراک میکسر به صورت عادی انجام میگردد ولی توزین پر تراک میکسر با استفاده از منوی بارنامه بتن و با ورود اطلاعات و پارامترهای مخصوص بتن صورت می گردد و در نهایت بارنامه بتن ایجاد و چاپ می شود. </p>
    <br />
    <img src="~/Content/shared/images/TowzinNegar/TowzinBoton.png" style="max-width:40vw;max-height:20vw;" class="center-block" alt="توزین بتن " />
    <br />
</div>