
@{
    ViewBag.Title = "باسکول_جاده_ای";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
    ViewBag.Meta = "فروش باسکول های جاده ای";
}

    <div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;min-width:400px;max-width:100%;">
        <br />
        <img src="~/Content/shared/images/TowzinNegar/Bascule01.jpg" style="        max-width: 40vw;
        max-height: 30vw;
" class="center-block" alt="باسکول جاده ای" />
        <br />
        <h1 style="text-align:center;"> باسکول جاده ای چیست؟</h1>
        <br />
        <p class="text-justify" style="margin-left:40px;margin-right:40px;">
            باسکول جاده ای از بزرگترین و صنعتی ترین دستگاه های توزین است، که برای محاسبه وزن بار در خودروهای سبک و سنگین مانند کامیون ها، تریلرها، خاورها و واگن های باربری طراحی و تولید شده است. ظرفیت توزین در انواع باسکول جاده ای معمولا از 7 تن (نیسان کش) شروع می شود و تا 200  تن (توزین واگن قطار) ادامه پیدا می کند. و می تواند تمام صنایع حمل و نقل و ریلی را پوشش دهد. باسکول جاده ای از بادوام ترین انواع باسکول صنعتی است، که اگر در زمان های مناسب سرویس شود، طول عمر آن ها به بیش از بیست سال هم می رسد. باسکول جاده ای قادر است در تمام شرایط آب و هوایی و محیط های صنعتی بی وقفه به فعالیت خود ادامه دهد.
        </p>
        <img src="~/Content/shared/images/TowzinNegar/Basule2.jpg" style="max-width:40vw;max-height:30vw;" class="center-block" alt="باسکول کامیون کش" />
        <br />
        <h3 style="text-align:center;">اجزای تشکیل دهنده باسکول جاده ای</h3>
        <p class="text-justify" style="margin-left:40px;margin-right:40px;">
            باسکول جاده ای ساختار پیچیده تری نسبت به باسکول های صنعتی مورد استفاده در کارخانه ها و صنایع تولیدی دارد، و فرایند نصب آن ها هم فرایندی زمان بر است، که باید بسیار دقیق و حساب شده صورت پذیرد. پلتفرم یا کفی صنعتی، لودسل، فونداسیون، جعبه تقسیم، نمایشگر (اندیکاتور) و پرینتر اجزاء تشکیل دهنده یک باسکول جاده ای هستند، که تعداد، نحوه نصب و الگوی اجرای آن ها متناسب با ظرفیت باسکول جاده ای تغییر می کند. اولین مرحله در نصب یک باسکول جاده ای گودبرداری است، که این مرحله باید متناسب با ابعاد و نقشه اصلی باسکول انجام شود. در مرحله دوم نوبت به فونداسیون دستگاه می رسد، که شامل مجموعه ای بسیار مستحکم از کلاف های فلزی به هم پیوسته است، که فضاهای میانی آن با بتن پر شده، و با قرارگیری در زیر صفحه پلتفرم، فشار ناشی از وزن بار را کاهش داده و مانع از نشست و فرورفتن آن به داخل زمین می شود. از مهمترین وظایف فونداسیون می توان به قرارگیری صحیح باسکول در محل نصب، و انتقال صحیح بار به زمین اشاره کرد. لازم به ذکر است، که پیاده سازی این مرحله بسیار مهم است و تا 30 درصد در دقت انواع باسکول جاده ای تاثیر می گذارد.
        </p>
        <br />
        <img src="~/Content/shared/images/TowzinNegar/Weigh-Bridge.jpg" style="max-width:40vw;max-height:30vw;" class="center-block" alt="نصب باسکول 60 تن" />
        <br />
        <p class="text-justify" style="margin-left:40px;margin-right:40px;">
            در باسکول جاده ای لودسل ها زیر پلتفرم و درون فونداسیون باسکول قرار گرفته اند، و تعداد آنها بسته به توان باسکول متغیر است. ارتباط بین لودسل ها در باسکول های جاده ای از طریق وسیله ای با نام Junction box یا جعبه تقسیم انجام می شود. وظیفه این قطعه الکترونیکی جمع آوری اطلاعات توزین از لودسل ها، یکسان سازی این اطلاعات و در نهایت انتقال آن به اندیکاتور یا نمایشگر باسکول است. پلاتفرم و یا صفحه اندازه گیری در باسکول های جاده ای معمولا از جنس بتن، فلز و یا ترکیبی از این دو است، که برای سهولت عبور و مرور خودروها به صورت پل و یا مسطح طراحی شده است، و به سرعت اطلاعات توزین را به خروجی باسکول جاده ای یا همان نمایشگر انتقال می دهد. توزین در انواع باسکول جاده ای یک فرایند دو مرحله ای است. بطوریکه وزن خودرو قبل و بعد از بارگیری محاسبه و ثبت می شود و با تفاضل این دو عدد می توان به وزن خالص بار دست یافت.
        </p>
        <br />
        <img src="~/Content/shared/images/TowzinNegar/Weight-Scale.jpg" style="max-width:40vw;max-height:30vw;" class="center-block" alt=" باسکول 60 تن" />
        <br />
    </div>