
@{
    ViewBag.Title = "ترازوی لیبل پرینتر";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
    ViewBag.Meta = "فروش نمایشگر باسکولت متصل به لیبل پرینتر با قابلیت چاپ بارکد و کیوآرکد";
}




<style>
    p {
        margin-left: 40px;
        margin-right: 40px;
    }

    h2 {
        margin-left: 40px;
        margin-right: 40px;
    }

    h3 {
        margin-left: 40px;
        margin-right: 40px;
    }

    h1 {
        margin-left: 40px;
        margin-right: 40px;
    }

    ul {
        margin-left: 40px;
        margin-right: 40px;
    }
</style>


<div class="k-content k-rtl center-block" style="font-family: YekanIzady; width: 60%;min-width:400px;max-width:100%;">

    <br />
    <img src="~/Content/shared/images/TowzinNegar/ScaleLabelPrinter.png" style="max-width:40vw;max-height:20vw;" class="center-block" alt="باسکول فروشگاهی لیبل زن" />
    <br />
    <h1>باسکولت لیبل پرینتر</h1>
    <p style="text-align: justify">ترازوی لیبل پرینتر کامل‌ترین ترازو در دسته ترازوی فروشگاهی به حساب می‌آید و قادر به برآورده کردن تمام نیازهای یک فروشگاه پیشرفته است. به این نمونه ها ترازوی لیبل زن هم گفته می شود. چاپ رسید و فاکتور، چاپ برچسب کالا و چاپ بارکد تک بعدی و دوبعدی و تجمیعی، برجسته‌ترین ویژگی‌های یک ترازوی لیبل پرینتر است.</p>
    <p style="text-align: justify">
        در واقع لیبل برچسبی می باشد که اطلاعات کالای فروخته شده بوسیله ترازو لیبل زن یا لیبل پرینتر در آن نشان داده می شود و این اطلاعات شامل نام ، قیمت و بارکد کالاها است.

        ترازو ها انواع مختلفی دارند و از نظر کاربرد به دسته های مختلفی تقسیم می شوند از جمله ترازو های صنعتی ، فروشگاهی ، آزمایشگاهی ، آشپزخانه و … .

        امروزه صنعت ترازو پیشرفت بسیاری کرده است و صرفا به وزن کردن اقلام اکتفا نمی کند و امکانات بیشتری را در کنار توزین ارائه می دهد.
    </p>
    <br />
    <br />
    <div id="49391343144">
        <script type="text/JavaScript" src="https://www.aparat.com/embed/b3YLJ?data[rnddiv]=49391343144&data[responsive]=yes&recom=none"></script>
    </div>
    <br />
    <br />
    <h2>وزن را به طور دقیق با ترازو  لیبل زن اندازه گیری کنید و لیبل آن را چاپ کنید</h2>
    <br />
    <p style="text-align: justify">
        از نظر اندازه گیری وزن می توانید در وقت صرفه جویی نمایید به این علت که دیگر کار دستی نیست.

        همه کارها را یک باره انجام دهید و از چاپ های کاملا واضح بهره مند شوید. خواندن این چاپ ها آسان است و برچسب ها را می توان به محصولات متصل کرد.
        با یک فشار ساده دکمه ، چاپ انجام می شود و می توان برچسب را روی محصول یا کالای شما بچسباند و دیگر نیازی به فاکتور های دستی نیست.
    </p>
    <br />
    <br />
    <h3>به مشتریان کمک کنید دقیقاً آنچه دریافت می کنند را مشاهده کنند</h3>
    <br />
    <p style="text-align: justify">اطلاعات محصول به مشتری کمک می کند تا هزینه هایی که باید بپردازد را در محیط خرده فروشی پیگیری کند و بتواند هزینه های خود را مدیریت کند. نسخه چاپی را می توان متناسب با نیاز های فعالیت تجاری شما سفارشی کرد.</p>
    <br />
    <p style="text-align: justify">در نتیجه چاپ لیبل ها در خرده فروشی یا فروشگاه های بزرگ می تواند پیگیری محصولات را آسان کند ، برای بهبود مدیریت پول نقد مورد استفاده قرار گیرد و به شما در ارائه اطلاعات ضروری محصول به مشتریان به شکل چشمگیری کمک کند.</p>
    <br />
    <br />

    <div class="k-content center-block" style=" width:60%;margin-top:40px;border: 1px solid #cdcccd;">

        <h2>اطلاعات بیشتر پرینتر لیبل زن</h2>

        <table>

            <tr>
                <th></th>
                <td class="leftAlign"><b>Power Consumption (on): </b>Auto Switching 100-240VAC, 50-60Hz<br /></td>
            </tr>
            <tr>
                <th></th>
                <td class="leftAlign" >
                    <b>Print Method: </b>Direct Thermal, Thermal Transfer<br />
                    <b>Print Speed: </b>102 mm/s<br />
                    <b>Print Resolution: </b>203 DPI (8 dots/mm)<br />
                    <b>Print Length: </b>Min: 4 mm / Max: 1727 mm<br />
                    <b>Print Width: </b>108 mm<br />
                    <b>Printer language: </b>EZPL, GEPL, GZPL auto switch<br />
                    <b>Printer Fonts: </b>Bitmap fonts 6, 8, 10, 12, 14, 18, 24, 30, 16X26 and OCR A &amp; B, Bitmap fonts 8 times expandable in horizontal and vertical directions, 
                    <b>Bitmap fonts 90°, 180°, 270° rotatable, single characters 90°, 180°, 270° rotatable, single characters 90°, 180°, 270° rotatable, TTF Fonts: CG Triumvirate™</b>
                        (Bold / Italic / Underline ). 0°,90°, 180°, 270° rotatable<br />
                    <b>Download Fonts: </b>8 times expandable in horizontal and vertical directions, Asian Fonts 90°, 180°, 270° rotatable, Bitmap fonts 90°, 180°, 270° rotatable, single characters 90°, 180°, 270° rotatable, TTF Fonts 90°, 180°, 270° rotatable<br />
                    <b>Graphics: </b>Resident graphic file types are BMP and PCX, other graphic formats are downloadable from the software<br />
                    <b>Ribbon: </b>Types: Wax, wax / resin, resin Length: 300 m Width: 30 mm &#8211; 110 mm Ribbon Roll Diameter: 68 mm Core Diameter: 25.4 mm<br />
                    <b>Processor: </b>32-bit RISC CPU<br />
                    <b>Memory: </b>Flash: 8MB Flash (4 MB for user storage) SDRAM: 16MB<br />
                    <b>Sensor Type: </b>Adjustable reflective sensor 2 fixed transmissive sensors, central aligned<br />
                    <b>Software Included: </b>Label Design Software Labelpro (for EZPL only) Driver<br />
                    <b>Environmental Conditions: </b>Operation Temperature: 5°C to 40°C Storage Temperature: -20°C to 50°C<br />
                    <b>Humidity Conditions: </b>Operation 30-85%, non-condensing. Storage 10-90%, non-condensing.<br />
                    <b>Connectivity / Standard Ports: </b>USB Devices (B-Type) Serial (RS-232)<br />
                    <b>وزن: </b>2.72 kg<br />
                    <b>ابعاد: </b>28.5 &times; 22.6 &times; 17.1 cm<br />
            </tr>

        </table>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
</div>