
@{
    ViewBag.Title = " Loadcell junction box جانکشن باکس لودسل";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
    ViewBag.Meta = "فروش جانکشن با کس مخصوص اتصال لودسل باسکول به اندیکاتور وزن";
}

    <div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;min-width:400px;max-width:100%;">
        <br />
        <h1 style="text-align:center;">جانکشن باکس لودسل</h1>
        <br />
        <p class="text-justify" style="margin-left:40px;margin-right:40px;">
            جانکشن باکس Junction Box یا جعبه جمع کننده سامینگ باکس Summing Box ، وسیله است که وظیفه اتصال لودسل LoadCell ها به یکدیگر و یکسان سازی نقاط مختلف باسکول از لحاظ نمایش وزن را به عهده دارد. اهمیت جانکشن باکس از این جهت است که در نهایت دقت لودسل ها و نشاندهنده در باسکول به دقت آن وابسته است. امروزه در باسکول های تمام الکترونیک شاهد مشکلاتی هستیم که ناشی از عدم شناخت این وسیله مهم الکترونیکی است که با یک ولتاژ بسیار کوچک در لودسل سر و کار دارد.

            به طور مثال فرض كنید چهار عدد لودسل یک تن ( 1000Kg ) زیر یك صفحه باسكول نصب شده است .چون احتمال اینكه میلی ولت خروجی تك تك این لودسلها یكسان باشد بسیار كم است  ، می باید مقدار خروجی لودسلها را تا حد امكان به هم نزدیك كرد تا چهار گوشه باسكول در زمان توزین یك وزن را نشان دهد. بنابراین از مدار الكتریكی جانکشن باکس Junction Box یا جعبه جمع کننده كه شامل چندین مقاومت متغیر و مدار حفاظتی لودسل میباشد استفاده می کنیم.



            داخل این جعبه جمع کننده جانکشن باکس Junction Box برخلاف جعبه تقسیم هایی که با آن سر و کار داشته ایم ، مدار الکترونیکی وجود دارد که وظیفه یکسان سازی خروجی میلی ولت لودسل Loadcell ها را برعهده دارد. جانکشن باکس لودسل Loadcell Junction Box میتواند خطاهای ناشی از موارد زیر را تصحیح نماید :

            1-  خمیدگی صفحه زیر لودسل، 2-  بارنامتقارن روی سیستم ، 3-  خمیدگی پلاتفرم ، 4-  نامرغوب بودن لودسل
        </p>
        <br />
        <img src="~/Content/shared/images/TowzinNegar/loadcell_juction_box.jpg" style="max-width:40vw;max-height:20vw;" class="center-block" alt="جانکشن باکس لودسل" />
        <br />
        <p class="text-justify" style="margin-left:40px;margin-right:40px;">
            جانکشن باکس نقش تعیین کننده و به سزایی در بیش از 70% خرابی باسکولها دارد. بعنوان مثال یکی از مشکلات اساسی باسکول ها ، تغییرات وزنی بر اثر تغییرات درجه حرارت محیط کاری باسکول می باشد. این تغییرات محیطی اثر مستقیمی برکارکرد جانکشن باکس های معمولی خواهد گذاشت. تاآنجا که حداکثر دقت باسکول بستگی به دقت جانکشن باکس آن دارد و پس از نصب یک جانکشن باکس ایده آل دقت باسکول به دقت لودسل Loadcell ها ، نمایشگر لودسل Indicator و سازه فلزی Mounting و سایر عوامل وابسته خواهد بود .

            حال این سوال مطرح می گردد که یک جانکشن باکس لودسل یا جمع کننده ی ایده آل چه مشخصاتی باید داشته باشد؟ یکی از مهمترین پارامترها ، دارا بودن جعبه سیلد شده است که می باید حداقل کلاس حفاظتی آن IP65 باشد. همچنین باید اجزا به کار گرفته شده در آن قبل از مصرف ، یک به یک تست گردیده و حداکثر خطای آن ها نباید در گستره ی دمای کار باسکول ، بیش از 05% باشد. از طرفی نوع مقامت های بکار رفته در جانکشن باکس لودسل از نوع مقاومت سیم ، با ثبات حرارتی بیشتری باشد.s
        </p>
        <br />
        <img src="~/Content/shared/images/TowzinNegar/4-Cell-Junction-Box.jpg" style="max-width:40vw;max-height:20vw;" class="center-block" alt="جانکشن باکس باسکول" />
        <br />
    </div>

