
@{
    ViewBag.Title = "ارتباط باسکول با نرم افزار حسابداری هلو";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
    ViewBag.Meta = "ارتباط باسکول به نرم افزار حسابداری هلو";
}


    <div class="k-content k-rtl center-block" style="font-family: YekanIzady; width: 60%;min-width:400px;max-width:100%;">
        <br />
        <h1 style="text-align:center;">ارتباط نرم افزار باسکول توزین نگار با نرم افزار حسابداری هلو</h1>
        <br />
        <p class="text-justify" style="margin-left:40px;margin-right:40px;">
            هلو نرم افزار  حسابداری است که طراحی خوب و در عین حال ساده‌ای دارد؛ به این ترتیب جایگاه خوبی در بازار کار حسابداری برای خود باز کرده است.
            یکی از دلایل پر طرفدار بودن این نرم افزار بین همگان برقراری بیشترین ارتباط با غیرحسابداران است. به عنوان مثال مدل فروشگاهی آن به خوبی توانسته است نظر خیلی از افراد که هیچ‌گونه اطلاعی از حسابداری ندارند، جلب کند؛ به همین خاطر ارتباط  گسترده‌ای در بیرون از جامعه حسابداری برقرار نموده است .

        </p>
        <br />
        <video width="683" height="330" style="max-width:54vw;max-height:25vw;" autoplay controls>
            <source src="~/Video/Holoo1.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <br />
        <p class="text-justify" style="margin-left:40px;margin-right:40px;">
            برنامه باسکول توزین نگار این قابلیت سفارشی را دارد که بصورت آنلاین به نرم افزار حسابداری هلو متصل شود.
            به این صورت که با انجام هر توزین پر و خالی یک فاکتور خرید و یا فروش نیز با وزن خالص شده در داخل نرم افزار حسابداری هلو بصورت اتوماتیک ایجاد میگردد.
        </p>
        <br />
    </div>