
@{
    ViewBag.Title = "دانلود رایگان نرم افزار باسکول";
    ViewBag.Meta ="نرم افزار باسکول رایگان - دانلود برنامه باسکول - برنامه باسکول - دانلود باسکول - دانلود اپلیکیشن باسکول";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
}







<head>
    <style>
        table {
            font-family: YekanIzady;
            border-collapse: collapse;
            width: 80%;            
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div style="font-family:YekanIzady;">
        <h1 style="text-align:center;">@ViewBag.Title</h1>

        <table align="center">
            <tr>
                <td style="text-align:center;background-color:gold">
                    <a href="http://s17.picofile.com/file/8410581042/TowzinNegar.zip.html" target="_blank"> دانلود رایگان نرم افزار باسکول توزین نگار مخصوص ویندوز 10</a>
                </td>
            </tr>
        </table>
        <br />
        <br />

        <table align="center">
            <tr>
                <th colspan="3" style="text-align:center;background-color:burlywood"> دانلود رایگان نرم افزار توزین نگار</th>
            </tr>
            <tr>
                <th>Software Name</th>
                <th>Suported OS</th>
                <th>Download</th>
            </tr>
            <tr>
                <td>Windows Installer</td>
                <td>Windows XP</td>
                <td>
                    <a href="http://www.microsoft.com/en-in/download/details.aspx?id=25" target="_blank">Download</a>
                </td>
            </tr>
            <tr>
                <td>DotNet 3.5</td>
                <td>Windows XP,7</td>
                <td><a href="http://www.microsoft.com/en-us/download/details.aspx?id=21" target="_blank">Download</a></td>
            </tr>
            <tr>
                <td>SQL Express 2005</td>
                <td>Windows XP,7,10</td>
                <td><a href="https://www.microsoft.com/en-us/download/details.aspx?id=21844" target="_blank">Download</a></td>
            </tr>
            <tr>
                <td>SQL Express 2008</td>
                <td>X64</td>
                <td><a href="http://s9.picofile.com/file/8326885592/SqlExpress2008.zip.html" target="_blank">Download</a></td>
            </tr>
            <tr>
                <td>SQL Express 2008</td>
                <td>X86</td>
                <td><a href="http://s4.picofile.com/file/8363349226/SQLExpr32_x86_enu.exe.html" target="_blank">Download</a></td>
            </tr>
            <tr>
                <td>AnyDesk</td>
                <td>All</td>
                <td><a href="http://s4.picofile.com/file/8363345518/AnyDesk.exe.html" target="_blank">Download</a></td>
            </tr>
        </table>
    </div>
</body>