
@{
    ViewBag.Title = "لودسل";
    ViewBag.Meta = "فروش تخصصی لودسل های باسکول";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
}

    <div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;min-width:400px;max-width:100%;">
        <br />
        <h1 style="text-align:center;">لودسل چیست ؟</h1>
        <p class="text-justify" style="margin-left:40px;margin-right:40px;">
            لودسل یک مبدل نیرو است. نیرویی مانند کشش ، فشرده سازی ، فشار یا گشتاور را به سیگنال الکتریکی تبدیل می کند که قابل اندازه گیری و استاندارد سازی است. با افزایش نیرو وارد شده به لودسل ، سیگنال الکتریکی به تناسب تغییر می کند. متداول ترین نوع لودسل مورد استفاده فشار سنجها ، پنوماتیک و هیدرولیک ، پنوماتیک است.

            اندازه‌گیری وزن بطریقه دیجیتال در ترازوهای الكترونیكی نیز نیازمند لودسل می‌باشد. امروزه انواع مختلف لودسل با ظرفیت‌های متفاوت در ساخت ترازوها و باسكول‌های الكترونیكی كاربرد فراوان دارد.  سیستم‌های اتوماتیك بر اساس اندازه‌گیری وزن مواد در كارخانجات مواد غذایی - كارخانجات آسفالت - پلانت‌های مواد شیمیایی همه از لودسل استفاده می‌نمایند.

            ساختار لودسل چگونه است ؟

            لودسل شامل یك هسته فلزی (از آلیاژ خاص) و تعدادی strain gauge مجموعه ای از مقاومت های الکتریکی می‌باشد كه در اثر اعمال نیرو مانند تمام مواد تغییر شكل می‌یابد اما پس از برداشتن نیرو به حالت اولیه خود برمی‌گردد . میزان برگشت‌پذیری این ماده تعیین كننده كیفیت و دقت و دیرپایی لودسل است.
            مدار الکتریکی معادل یک لودسل بصورت زیر است :
        </p>
        <img src="~/Content/shared/images/TowzinNegar/Loadcell_Sch.png" style="max-width:40vw;max-height:20vw;" class="center-block" alt="شماتیک لودسل" />
        <p class="text-justify" style="margin-left:40px;margin-right:40px;">
            انواع لودسل:
            1- لودسل های تک پایه(Single point) :لودسل های تک پایه ، دارای یک پایه بوده و بیشتر در ترازوهای فروشگاهی، توزین نقاله و توزین ماشین آلات بسته بندی و پرکن کاربرد دارند.

            2- لودسل های خمشی(Shear beam) : لودسل های خمشی یا shear beam معمولا در باسکول های کفه ای، باسکولت ها و سیستم های توزین و لاشه کش ها استفاده می شود. این مدل لودسل ها باید بصورت چند تایی استفاده شوند.

            3- لودسل های خمشی دو طرفه: لودسل های خمشی دو طرفه  بیشتر در توزین مخازن، توزین سیلو و توزین باسکول کاربرد دارند. یکی از پرکاربردترین نوع ای لودسل ،HM9B می باشد.

            4-لودسل فشاری (Canister سیلندری یا compression فشاری) : شکل ظاهری این لودسل شبیه قوطی می باشد. همانطور که از نام این لودسل پیداست فشار وارده بر این نوع لودسل از طرف بار باعث تغییرات طول (کمتر از قطر یک تارمو) در لودسل می شود. از این نوع لودسل اغلب در باسکولهای جاده ای استفاده می شود .

            5- لودسل کششی (S Type) : شکل ظاهری این لودسل شبیه S می باشد. مکانیسم عملکرد این لودسل نیز بر اساس تغییرات طول می باشد. یک طرف این لودسل از بالا به نقطه ای ثابت وصل می شود و از طرف پایین نیرو به ان وارد می شود. از این نوع لودسل اغلب در سیستم های توزین آویز استفاده می شود .

            6-لودسل های باسکولی: لودسل های باسکولی، فشاری ستونی بوده و بیشتر در توزین مخازن، سیلو و اختصاصا باسکول کاربرد دارند.

            7- لودسل های خاص: انواع لودسل با کاربردهای خاص و ویژه در این گروه قرار می گیرند. مانند لودسل های تخمین بار سیم و کابل ، سنسور گشتاور ، سنسور دو محور x,y ، صفحات توزین و ...
        </p>
        <img src="~/Content/shared/images/TowzinNegar/Keli-ZSFY-A.png" style="max-width:40vw;max-height:20vw;" class="center-block" alt="لودسل باسکول توزین" />
        <br />
        <br />
        <h4 style="text-align:center">لودسل فشاری مناسب برای باسکول های کامیون کش </h4>
        <h4 style="text-align:center">لودسل کلی مدل ZSFY-A کلاس C۳</h4>            
            <br />
            <br />
    </div>
<div class="k-content center-block" style=" width:60%;margin-top:40px;border: 1px solid #cdcccd;">
    <ul style="margin-left:30px;margin-top:10px;">
        <li><label style="background-color:blue;color:aliceblue;width:200px;">excitation, recomended</label>10~12 V</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">excitation, max</label>15 V</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">rated output</label>2.0∓0.002 mV/V</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">combined error</label>∓0.03 %FS</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">input resistance</label>400∓10(ZSF), 700∓20(ZSFY) Ω</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">output resistance</label>352∓3(ZSF), 706∓7(ZSFY) Ω</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">insulation resistance</label>≥5000 Ω</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">temperature, operating</label>-30~+70 oC</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">cable length</label>8m(10t),  10m(15t), 12m(20~25t), 14m(30t), 16m(40~50t) m</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">protection class</label>IP68</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">material made</label>Alloy Steel</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">safe overload</label>150 %FS</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">ultimate overload</label>250 %FS</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">zero Balance</label>∓1 %FS</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">TCO</label>∓0.02 %F.S/10oC</li>
        <li><label style="background-color:blue;color:aliceblue;width:200px;">TC SPAN</label>∓0.02 %F.S/10oC</li>
    </ul>
</div>
<div>
    <br />  <br />  <br />
</div>

<div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;">
    <br />
    <br />
    <br />
    <img src="~/Content/shared/images/TowzinNegar/Keli-ZSFY-A2.png" style="max-width:40vw;max-height:20vw;" class="center-block" alt="لودسل کلی باسکول توزین" />
    <br />
    <br />
    <h5 style="text-align:center">weight sensor ZSFY bridge 30ton Aluminum KELI column ZSFY-A load cell </h5>
    <br />
</div>
