
@{
    ViewBag.Title = "نرم_افزار_باسکول_کفی_باسکولت";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
    ViewBag.Meta = "دانلود اپلیکیشن باسکول های کفی";
}



<style>
    p {
        margin-left: 40px;
        margin-right: 40px;
    }

    h2 {
        margin-left: 40px;
        margin-right: 40px;
        font-size: 14pt;
    }

    h3 {
        margin-left: 40px;
        margin-right: 40px;
    }

    h4 {
        margin-left: 40px;
        margin-right: 40px;
    }
</style>


<div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;min-width:400px;max-width:100%;">
    <br />


    <h1 style="text-align: center;">   نرم افزار باسکول کفی ، باسکولت  </h1>
    <br />
    <p style="text-align: center;"><img loading="lazy" class="alignnone size-full wp-image-1384" src="~/Content/shared/images/TowzinNegar/basculet.png" alt="باسکولت" style="max-width: 40vw; max-height: 20vw;" /></p>
    <h2><span><strong><span>شرکت توزین نگار  با استفاده از متخصصین مجرب، موفق به طراحی و تولید <em> نرم افزار توزین نگار  </em>گردیده است.  <em>توزین نگار،</em> نرم افزار تجاری کامل برای فعالیتهای حرفه ای،  صنعتی و اداری در حوزه توزین است. </span></strong></span></h2>
    <h2><span><strong><span>مهم ترین ویژگی استفاده از  <em>نرم افزار توزین نگار</em>  افزایش امنیت اطلاعات توزین می باشد.</span></strong></span></h2>
    <h2>
        <span>
            <strong>
                <span>
                    <span style="font-family: comic sans ms, sans-serif;">بهره گیری از مهندسی نرم افزار در طراحی صنعتی دستگاه های توزین، گامی نوین است که قابلیتها و کاربری های تجاری جدیدی را برای صنعت توزین به ارمغان خواهد آورد.</span><br />
                </span>
            </strong>
        </span>
    </h2>
    <h2><span><em>نرم افزار توزین نگار  </em>در تمام محیط های عمومی که در فرآیند فعالیت تجاری از سیستم های توزین بهره می برند، قابل استفاده می باشد.</span></h2>
    <h2><span><strong><span>با اتصال باسکول های کفی، آویز و جاده ای به  <em>نرم افزار توزین نگار </em>، تجارتی پر سود و مطمئن را تجربه کنید. </span></strong></span></h2>

    <p><span><strong><span><span id="more-1170"></span></span></strong></span></p>
    <p><span><strong><span>مزایا :</span></strong></span></p>
    <p><span><strong><span>تجهیز سیستم های وزن کشی به بروز ترین نرم افزار تخصصی توزین</span></strong></span></p>
    <p><span><strong><span>ذخیره نامحدود کلیه اطلاعات مربوط به عملیات وزن کشی</span></strong></span></p>
    <p><span><strong><span>امکان توزین چند مرحله ای</span></strong></span></p>
    <p><span><strong><span>باز نمایی و دسترسی مجدد به اطلاعات در زمانهای مورد نیاز کاربر و دریافت خروجی با فرمت اکسل</span></strong></span></p>
    <p><span><strong><span>محاسبه کارمزد خدمات کالا و امکان درج آن در قبض</span></strong></span></p>
    <p><span><strong><span>امکان تشکیل بانک اطلاعات مشتریان</span></strong></span></p>
    <p><span><strong><span>امکان تشکیل بانک اطلاعات راننده و خودرو</span></strong></span></p>
    <p><span><strong><span>امکان تشکیل بانک اطلاعات کالا و کارمزد خدمات</span></strong></span></p>
    <p><span><strong><span>امکان تعریف انواع خودرو و کارمزد توزین</span></strong></span></p>
    <p><span><strong><span>امکان تعریف چندین اپراتور با سطح دسترسی مشخص</span></strong></span></p>
    <p><span><strong><span>امکان ویرایش و چاپ مجدد قبوض صادر شده</span></strong></span></p>
    <p><span><strong><span>امکان جستجو بر حسب کلیه کلمات وارد شده در قبض</span></strong></span></p>
    <p><span><strong><span>امکان نظارت مدیریت بر تمام فعالیتهای کار</span></strong></span></p>
    <p><span><strong><span>با قابلیت گزارشگیری روزانه، ماهانه و سالانه بر حسب کلمات کلیدی</span></strong></span></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <img src="~/Content/shared/images/TowzinNegar/floor scale.png" style="max-width: 40vw; max-height: 20vw;" class="center-block" alt="نرم افزار باسکولت  " />
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
</div>
