
@{
    ViewBag.Title = "نشاندهنده باسکول";
    ViewBag.Meta = "فروش نشاندهنده های باسکول و اندیکاتور نمایش وزن";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
}

    <div class="k-content k-rtl center-block" style="font-family:YekanIzady;width:60%;min-width:400px;max-width:100%;">
        <br />
        <h1 style="text-align:center;">@ViewBag.Title</h1>
        <br />
        <img src="~/Content/shared/images/TowzinNegar/Alpha09.png" style="max-width: 40vw; max-height: 20vw;" class="center-block" alt=" نشاندهنده باسکول آلفا 09" />
        <br />
        <h4 style="text-align:center">  نمایشگر توزین دیجیتال آلفا-09 (Alpha-09)</h4>
        <br />
        <p class="text-justify" style="margin-left:40px;margin-right:40px;">
            نمايش نيروي اندازه گيري شده توسط لودسل ها به صورت وزن بر عهده نشاندهنده است. امكانات اين دستگاه مي‌تواند بسيار ساده و يا با تجهيزات پيشرفته‌تري مانند داراي چاپگر و يا امكان اتصال به آن، داراي صفحه كليد تمام حروف و يا امكان اتصال مستقيم به آن، داراي درگاه‌هاي مختلف ارتباطي با ديگر تجهيزات الكترونيكي و يا امكان اتصال به رايانه به منظور استفاده از نمايشگر رايانه به جاي نمايشگر نشان‌دهنده باشد. قطعاتي كه در ساخت نشان‌دهنده به كار مي‌رود مي‌تواند داراي حساسيت و ظرافت بالا و نيز طيف وسيعي از كيفيت و دقت‌ ‌باشد؛ كه اگر از انواع مرغوب انتخاب نشده باشد، باعث به وجود آمدن خطاي زيادي در نشان دادن عدد صحيح وزن مي‌گردد.
        </p>

        <br />
        <br />
        <img src="~/Content/shared/images/TowzinNegar/Gamma07C-w.png" style="max-width:40vw;max-height:20vw;" class="center-block" alt=" نشاندهنده باسکول گاما 07" />
        <h4 style="text-align:center">  نمایشگر توزین دیجیتال گاما-07 (Gama-07)</h4>
        <br />
        <br />
        <p class="text-justify" style="margin-left:40px;margin-right:40px;">
            عواملی که باعث تفاوت در نشاندهنده ها می شوند در مرحله ی اول کیفیت بخشA/D و نمایش وزن آن است که عامل بسیار مهمی در انتخاب یک نشاندهنده می باشد و در مرحله ی دوم قابلیت های آن می باشد .

            چگونگی پی بردن به کیفیت نمایشگر باسکول : استانداردها در دنیای تکنولوژی و فناوری امروز معیار انتخاب یک کالا هستند و میتوانند مصرف کنندگان را نسبت به کیفیت آن کالا مطمئن سازند . سازمان بین المللی اندازه شناسی قانونی یا OIML برای نشاندهنده ها استاندارد شماره OIML R76 را تدوین کرده است که به عنوان استاندارد مرجع تمامی نشاندهنده های وزن در دنیا شناخته می شود بنابر این در صورتیکه نشاندهنده ای استفاده می کنید که تایید شده بر اساس این استاندارد باشد می توانید از کیفیت آن اطمینان حاصل کنید .

            قابلیت های نشان دهنده ها : همانطور که گفته شد دومین عامل تفاوت نشان دهنده ها قابلیت آن است . با پیشرفت تکنولوژی نمایشگر هایی که تولید شدند روز به روز به قابلیت آن ها اضافه گردیده است به گونه ای که علاوه بر نمایش وزن می توانند با سایر تجهیزات نیز ارتباط برقرار کرده و کلیه نیاز های استفاده کننده را تامین کنند که در قسمت زیر به برخی از آن ها اشاره می کنیم :
        </p>
        <br />
        <br />
        <img src="~/Content/shared/images/TowzinNegar/tec1610.png" style="max-width:40vw;max-height:20vw;" class="center-block" alt="نشاندهنده باسکولت" />
        <h4 style="text-align:center">  نمایشگر توزین دیجیتال  (TEC1610)</h4>
        <br />
        <br />
        <p class="text-justify" style="margin-left:40px;margin-right:40px;">

            1 – قابلیت های اپراتوری : این قابلیت ها بر حسب نیاز و موارد استفاده دستگاه ها می تواند متفاوت باشد به عنوان مثال در یک باسکول بتواند وزن را بخواند و یا شمارش بسته یا قطعه را انجام دهد یا در یک باسکول جاده ای بتواند وزن اول و دوم و خالص را بگیرد .

            2- پورت سریال برای ارتباط نمایشگر با پرینتر و یا کامپیوتر : از طریق پورتهای سریال RS485 و یا RS232 یک نمایشگر باسکول دیجیتال می تواند اطلاعات را به پرینتر یا کامپیوتر یا تجهیزات دیگر دارای پورت سریال مثلا نمایشگر بزرگ (Larg display) ارسال کند یک نشاندهنده می تواند یک یا دو یا بیشتر پورت سریال داشته باشد و تعداد این پورت ها می تواند برای آن یک مزیت باشد بعنوان مثال نشاندهنده ای که دارای 2 پورت سریال است قادر است بطور همزمان اطلاعات را به پرینتر و کامپیوتر انتقال نماید . تفاوت دو نوع پورت سریال RS485 و RS232 در مسافتی است که قادر است اطلاعات را ارسال نماید . پورت سریال RS232 تا فاصله 15 متر و پورت سریالRS485 تا فاصله 1000 متر می تواند اطلاعات را انتقال دهد .

            3- خروجی رله : دارا بودن خروجی رله در یک نشاندهنده کاربرد های زیادی دارد به عنوان مثال در باسکول جاده ای این خروجی جهت کنترل راه بند ورودی و خروجی باسکول و یا چراغ راهنمایی مورد استفاده قرار میگیرد و یا در جایی که باسکول در زیر یک سیلو هست و مواد از داخل سیلو به داخل تانکر ریخته می شود جهت کنترل دریچه ریزش مواد استفاده شود . و یا می تواند در یک کارخانه جهت کنترل ریزش مواد یک مخزن یا سیلو بکار رود . بنابر این این قابلیت بروی یک نشاندهنده می تواند یک مزیت مهم و کار آمد باشد .

            4 – خروجی آنالوگ و یا 4-20mA : تمام کارخانجاتی که باPLC کار می کنند خروجی آنالوگ نشاندهنده وزن را می توانند جهت ارتباط با PLC به راحتی به کار برده و برنامه ریزی و کنترل های لازم را به سادگی انجام دهند .

            5- قابلیت ارتباط بصورت بی سیم : با در نظر گرفتن پیشرفت تکنولوژی قابلیت ارتباط به صورت بی سیم نیز به برخی نشاندهنده ها اضافه شد که با استفاده از آن می تواند اطلاعات وزن را تا فاصله تعریف شده ای بصورت بی سیم ارسال نماید . به عنوان مثال شما می توانید یک نمایشگر بزرگ (Larg display) در فاصله 1000 متری را بدون اینکه کابل کشی انجام دهید داشته باشید .

            6 – قابلیت شبکه شدن چندین نمایشگر باسکول دیجیتال : یک قابلیت مفید است که در نشاندهنده های پیشرفته امروزی این امکان را مهیا می سازد بدون نیاز به برقراری شبکه کامپیوتری دو یا چند نشان دهنده مستقیما با هم شبکه شده و اطلاعات را بین یکدیگر به اشتراک می گذارند . برای مثال شما میتوانید بدون نیاز به شبکه کامپیوتری در دو باسکول دیجیتال ورودی و خروجی وزن اول را از یک باسکول و وزن دوم را از باسکول دیگر بگیرد . از دیگر کاربردها این می باشد که شما می توانید یک نمایشگر در محل نصب سیستم توزین داشته باشید و از فاصله دورتر نمایشگر دیگری داشته باشید که اطلاعات وارده را بگیرد و اپراتور می تواند از هر دو نمایشگر پرینت وزن را بگیرد .

            7- قابلیت ارتباط با مودم و شبکه های اینترنت : امکان ارتباط با نشاندهنده را از راه دور میسر می باشد از این طریق می توانید از راه دور به نشادهنده متصل شده و وضعیت داده ها را کنترل کنید مخصوصا در سیستم های دارای لودسل دیجیتال از این طریق به راحتی می توانید سیستم را عیب یابی کنید .
        </p>
        <br />
        <br />
        <img src="~/Content/shared/images/TowzinNegar/Kelli-LCD-T1.jpg" style="max-width:40vw;max-height:20vw;" class="center-block" alt="نشاندهنده باسکولت" />
        <h4 style="text-align:center">نمایشگر ترازو کلی مدل T۱ </h4>
        <br />
        <br />

    </div>
