
@{
    ViewBag.Title = "نمایشگر ثانویه باسکول";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
    ViewBag.Meta = "فروش نمایشگر ثانویه یا لارج دیسپلی برای مشاهده وزن توسط راننده کامیون";
}

    <style>
        p {
            margin-left: 40px;
            margin-right: 40px;
        }

        h2 {
            margin-left: 40px;
            margin-right: 40px;
        }

        h3 {
            margin-left: 40px;
            margin-right: 40px;
        }

        h1 {
            margin-left: 40px;
            margin-right: 40px;
        }
            ul {
            margin-left: 40px;
            margin-right: 40px;
        }
    </style>


    <div class="k-content k-rtl center-block" style="font-family: YekanIzady; width: 60%;min-width:400px;max-width:100%;">

        <br />
        <img src="~/Content/shared/images/TowzinNegar/outdoor.jpg" style="max-width:40vw;max-height:20vw;" class="center-block" alt="نمایشگر ثانویه باسکول" />
        <br />
        <h1>نمایشگر ثانویه باسکول چیست؟</h1>
        <p style="text-align: justify">در برخی از باسکول های جاده ای و صنعتی نیاز است تا علاوه بر نمایشگر اولیه و اصلی باسکول یک نمایشگر ثانویه جانبی نیز نصب گردد تا وزن و اطلاعات مورد نظر به مشتری نیز نمایش داده شود.  این نمایشگرها می توانند وزن محاسبه شده باسکول را به نمایش بگذارند.</p>
        <p style="text-align: justify">Large Display یا نمایشگر ثانویه باسکول، نمایشگر بزرگی است که می تواند به نمایشگر اصلی باسکول متصل شده و عدد وزن نمایش داده شده توسط نمایشگر اصلی را به صورت بزرگتر و قابل دید برای رانندگان نمایش دهد. این #نمایشگرها دیتای ارسالی از نمایشگر اصلی #باسکول را دریافت کرده و عدد وزن را به صورت بزرگتر و یا در محلی دیگر به نمایش می گذارند.</p>
        <p style="text-align: justify">
            این قابلیت در #باسکول های کامیون کش می تواند به رانندگان این امکان را بدهد که در حین عملیات توزین، وزن کامیون خود را مشاهده کنند.
        </p>
        <h2>انتخاب یک لارژدیسپلی مناسب</h2>
        <p style="text-align: justify">
            در انتخاب یک لارژدیسپلی مناسب لازم است شرایط محیطی و نوع استفاده از آن در نظر گرفته شود. در ادامه به شرح موارد حائظ اهمیت در انتخاب لارژدیسپلی مناسب برای یک #باسکول به شرح ذیل می پردازیم:
        </p>
        <h3>
            ابعاد
        </h3>
        <p style="text-align: justify">
            نمایشگرهای ثانویه از نظر ابعادی بسته به کاربرد و فاصله دید مورد نظر در ابعاد مختلفی ساخته می شوند. نکته مهم این است که در انتخاب ابعاد مورد نظر، باید به ابعاد فونت اعداد نیز توجه شود.
        </p>
        <h3>
            شدت نور
        </h3>
        <p style="text-align: justify">
            بسته به نیاز ، نمایشگرهای ثانویه ممکن است در محیط های مسقّف (اتاق باسکول) و یا در محیط باز و زیر نور آفتاب نصب شوند. بنابراین لازم است به این نکته توجه شود که جهت استفاده در محیط های باز، باید از مدل های دید در روز (شدت نور بالا) استفاده شود. معمولاً در طراحی نمایشگرهای مناسب محیط مسقّف، از دیسپلی های 7SEG و برای نمایشگرهای مناسب محیط باز، از دیسپلی های LED با شدت نور بالا استفاده می شود.
        </p>
        <h3>پروتکل ارتباطی</h3>
        <p style="text-align: justify">
            در انتخاب یک لارژدیسپلی مناسب باید به پروتکل ارتباطی نمایشگر اصلی توجه نمود. این به این معناست که مدل لارژدیسپلی را باید مناسب با پروتکل ارتباطی موجود در #نمایشگر اصلی باسکول انتخاب کرد. معمولاً #نمایشگرهای اصلی #باسکول ها از پروتکل های ارتباطی سریال برای ارتباط با تجهیزات جانبی بهره می برند. بنابراین اکثر لارژدیسپلی ها نیز از طریق پورت های سریال به نمایشگر اصلی متصل می شوند. البته برخی از این نمایشگرها قابلیت ارتباط گرفتن از طریق دیگر پروتکل های ارتباطی مثل جریان آنالوگ 4 تا 20 میلی آمپر را نیز دارا می باشند.
        </p>
        <h3>
            جنس بدنه
        </h3>
        <p style="text-align: justify">
            از نظر حفاظت فیزیکی نیز بسته به شرایط محیطی محل نصب، لارژدیسپلی ها دارای بدنه هایی با درجه حفاظت (IP) مختلفی هستند که در انتخاب مدل مناسب باید مورد توجه قرار گیرند. این امر در مواردی که محل نصب در محیط های باز است، بسیار حائظ اهمیت می باشد.
        </p>
        <h3>نام های دیگر نمایشگر دوم باسکول:</h3>
        <ul>
            <li>مانیتور باسکول</li>
            <li>مانیتور دوم باسکول</li>
            <li>نمایشگر بزرگ باسکول</li>
            <li>نمایشگر دوم باسکول</li>
            <li>مانیتور ثانویه باسکول</li>
            <li>مانیتور بیسیم باسکول</li>
            <li>مانیتور یدکی باسکول</li>
            <li>نمایشگر دیجیتال بزرگ برای باسکول</li>
            <li>صفحه دیجیتال باسکول</li>
            <li>نمایشگر دوم دیجیتال باسکول</li>
            <li>نشان دهنده باسکول</li>
            <li>نشان دهنده دیجیتال باسکول</li>
            <li>نمایشگر لودسل</li>
        </ul>
        <br />
    </div>