
@{
    ViewBag.Title = "کالیبراسیون باسکول";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
    ViewBag.Meta = "کالیبراسیون باسکول های جاده ای و کفی";
}
<style>
    p {
        margin-left: 40px;
        margin-right: 40px;
    }

    h2 {
        margin-left: 40px;
        margin-right: 40px;
    }

    h3 {
        margin-left: 40px;
        margin-right: 40px;
    }

    h4 {
        margin-left: 40px;
        margin-right: 40px;
    }
</style>
<div class="k-content k-rtl center-block" style="font-family: YekanIzady; width: 60%;min-width:400px;max-width:100%;">
    <br />
    <h1 style="text-align: center;">کالیبراسیون باسکول</h1>
    <br />
    <img src="~/Content/shared/images/TowzinNegar/Truck Weighing.jpg" style="max-width: 40vw; max-height: 20vw;" class="center-block" alt="کالیبراسیون سیستم های توزین جاده ای" />
    <br />
    <h3 style="text-align: justify;"><strong>کالیبراسیون چیست؟</strong></h3>
    <p style="text-align: justify;">
        کالیبراسیون چیست ؟ واسنجی یا&nbsp;<strong>کالیبراسیون</strong>&nbsp;مطابقت
        با استاندارد را تعیین می‌کند. کالیبراسیون اندازه‌گیری و تعیین صحت وسیله
        اندازه‌گیری در مطابقت با مرجع تایید شده می‌باشد.
    </p>
    <h3 style="text-align: justify;"><strong>هدف</strong>&nbsp;<strong>کالیبراسیون</strong></h3>
    <p style="text-align: justify;">
        هدف کالیبراسیون ایجاد نظامی مؤثر به
        منظور کنترل صحت و دقت پارامترهای مترولوژیکی دستگاه‌های آزمون و وسایل
        اندازه‌گیری و کلیه تجهیزاتی است که عملکرد آنها بر کیفیت فرایند تاثیرگذار
        می‌باشد. این کار به منظور اطمینان از تطابق اندازه گیری‌های انجام شده با
        استانداردهای جهانی مورد استفاده قرار می‌گیرد.
    </p>
    <h3 style="text-align: justify;"><strong>تعریف دقیق کالیبراسیون</strong></h3>
    <p style="text-align: justify;">در استاندارد ملی ایران به شماره ۴۷۲۳ آمده‌است.&nbsp;<strong>کالیبراسیون</strong>&nbsp;اجازه می‌دهد که میزان تصحیح لازم را نسبت به نشاندهی تعیین کنیم. با&nbsp;<strong><em>کالیبراسیون</em></strong><em>&nbsp;</em>ممکن است خواص اندازه شناختی دیگری نظیر اثر کمیتهای تاثیر گذار نیز تعیین شود. در واقع&nbsp;<strong>کالیبراسیون</strong>&nbsp;ویژگیهای کارآمدی دستگاه یا مواد مرجع را بوسیله انجام مقایسات مستقیم مشخص می‌کند.</p>
    <p style="text-align: justify;">
        کدام دستگاهها باید کالیبره شوند هر
        وسیله‌ای که برای اندازه گیری به کار می‌رود و در روشهای اجرایی به استفاده
        از آن اشاره شده‌است، نیاز به تعیین صحت و دقت یا کالیبراسیون دارد.
    </p>
    <h3 style="text-align: justify;"><strong>زمان کالیبراسیون</strong></h3>
    <p style="text-align: justify;">
        دستگاههای اندازه گیری باید به طور
        دوره‌ای کالیبره شوند. گذشت زمان، فرسودگی، حوادث غیر قابل پیش بینی، باعث
        می‌شوند تا قابلیت ردیابی نتایج آنها تا استانداردها زیر سؤال رفته و
        نیازمند تایید مجدد باشند. برای تجهیزات کالیبره شده گواهی کالیبراسیون
        صادر شده و ضمیمه دستگاه می‌گردد. کالیبره کردن تمام تجهیزات لازم نیست.
        برخی از آنها ممکن است صرفا به عنوان نشان دهنده مورد استفاده قرار گیرند.
    </p>
    <p style="text-align: justify;">
        انواع دیگر تجهیزات ممکن است به عنوان
        ابزار تشخیصی و آشکارسازی به کار بروند. هر گاه وسیله‌ای برای تعیین قابلیت
        پذیرش محصول یا عوامل مؤثر در فرایند آزمون مورد استفاده قرار نگیرد&nbsp;<strong>کالیبراسیون</strong>&nbsp;آن ضرورت ندارد.
    </p>
    <h3 style="text-align: justify;"><strong>تعریف ساده کالیبراسیون</strong></h3>
    <p style="text-align: justify;">
        تعربف کالیبراسیون چیست – شما نسبت به
        ابزار تست الکتریکی خود اطمینان خاطر را دارید . از برند های معروف خریداری
        می کنید و در نتیجه انتظار دارید دقت آن ها بالا باشد . می دانید که بعضی
        از افراد ابزار دیجیتالی خود را برای کالیبره شدن به آزمایشگاه های علوم
        مقیاس ارسال می کنند و در فکر دلیل این کار هستید .
    </p>
    <p style="text-align: justify;">
        به هر حال ، تمامی آن ها الکتریکی هستند
        یعنی عمل سنجش نیست که از حالت نرمال خود خارج شده باشد . افرادی که
        کالیبراسیون را انجام می دهند در واقع چه کار می کنند ؟
    </p>
    <h3 style="text-align: justify;"><strong>علت کالیبراسیون تجهیزات آزمایشگاهی</strong></h3>
    <p style="text-align: justify;">
        این نگرانی ها و سوالات همگی طبیعی هستند ، به خصوص از آن جایی که شما نمی توانید از ابزار خود زمانی که&nbsp;<strong>کالیبره</strong>&nbsp;نیستند
        استفاده کنید . ولی ، اجازه دهید نگرانی های طبیعی دیگری را نیز بررسی
        کنیم . به عنوان مثال ، اگر اندازه گیری ابزار شما دقیق نباشد ، یا حتی سطح
        ایمنی آن کم باشد چه اتفاقی می افتد ؟ اگر با تلورانس های فشرده ای سر و
        کار دارید و اندازه گیری یکی از عوامل مهم در به کار گیری صحیح فرآیند های
        گران قیمت یا سیستم های ایمنی باشد ، تکلیف چیست ؟
    </p>
    <p style="text-align: justify;">
        اگر قصد استفاده از داده های خود برای
        اهداف نگهداری را دارید و دو دستگاه سنجشی استفاده شده برای اندازه گیری
        تفاوت زیادی با هم داشتند باشند ، چه نتیجه ای خواهید گرفت ؟
    </p>
    <p style="text-align: justify;"><strong>کالیبراسیون چیست ؟</strong></p>
    <p style="text-align: justify;">
        بسیاری از افراد یک بررسی مقایسه ای میدانی از دو دستگاه سنجشی انجام می دهند و اسم آن ها را ”&nbsp;<strong><em>کالیبره</em></strong><em>&nbsp;</em><strong><em>شده</em></strong>&nbsp;” ، اگر قرائت های به دست آمده مشابه باشد ، می گذارند . ولی این&nbsp;<strong>کالیبراسیون</strong><strong>&nbsp;</strong>نیست .&nbsp;<strong><em>کالیبراسیون</em></strong><strong>&nbsp;</strong>به
        سادگی یک بررسی میدانی است . می تواند به شما وجود یک مشکل را نشان دهد،
        ولی به شما نمی تواند نشان دهد که حق با کدام دستگاه است .
    </p>
    <p style="text-align: justify;">
        اگر هر دو دستگاه به یک مقدار و در یک جهت از&nbsp;<em>کالیبره</em>&nbsp;بودن
        به دور باشند ، به شما هیچ چیزی را نشان نخواهد داد و شما کالیبره نبودن
        دستگاه خود را متوجه نخواهید شد. برای انجام صحیح کالیبراسیون ،
        بایستی&nbsp;<strong>استاندارد کالیبراسیون</strong>&nbsp;از ابزار تحت آزمایش ، دقیق تر باشد .
    </p>
    <h3 style="text-align: justify;"><strong>چرا کالیبراسیون؟</strong></h3>
    <p style="text-align: justify;">
        اکثر ما دارای یک مایکروویو یا ابزار
        دیگری که ساعت و دقیقه را نشان دهند ، هستیم .&nbsp;اکثر ما در مکان هایی
        زندگی می کنیم که سالی حداقل دو بار ساعت را ، به علاوه زمانی که برق قطع
        می شود ، تغییر می دهند . زمانی که شما زمان آن دستگاه را تنظیم می کنید ،
        به عنوان ساعت مرجع از چه چیزی استفاده می کنید ؟ آیا از ساعتی استفاده می
        کنید که ثانیه ها را نشان می دهد ؟ یقینا زمان را در دستگاه مورد نظر زمانی
        که ساعت مرجع ” بیشتر ” از یک دقیقه است ( به عنوان مثال ثانیه ها صفر است
        ) تنظیم می کنید . یک آزمایشگاه مقیاس نیز از همین فلسفه پیروی می کند.
    </p>
    <p style="text-align: justify;">
        آن ها توجه می کنند که ” دقایق کامل ” شما
        چقدر با دقت با تعداد صحیح ثانیه ها همخوانی دارد. و آن ها این کار را در
        چندین نقطه بر اساس مقیاس های اندازه گیری انجام می دهند.
    </p>
    <h3 style="text-align: justify;"><strong>استاندارد کالیبراسیون</strong></h3>
    <p style="text-align: justify;">
        کالیبراسیون به طور معمول نیاز به&nbsp;<strong><em>استانداردی</em></strong><strong>&nbsp;</strong>دارد
        که حداقل دقت آن به نسبت دستگاه تحت تست ۱۰ برابر بیشتر باشد. در غیر این
        صورت ، شما در تلرانس های هم پوشاننده کالیبراسیون را انجام می دهید و
        تلرانس های استاندارد شما یک ابزار ” کالیبره ” یا ” خارج از کالیبره ” یا
        بر عکس به شما نشان می دهند . نگاهی به نحوه ی عمل آن می اندازیم.
    </p>
    <p style="text-align: justify;">
        دو ابزار ، &nbsp;A و B ، صد ولت را در ۱% اندازه گیری می کنند . در ۴۸۰ ولت ، هر دو ابزار تحت&nbsp;<strong>تلرانس</strong>&nbsp;قرار
        دارند . هنگامی که ولتاژ ورودی صد ولت است ، ابزار A عدد ۹۹٫۱ و ابزار B ،
        ۱۰۰٫۹ ولت را نشان می دهد. ولی اگر شما از B به عنوان استاندارد خود
        استفاده کنید ، A خارج از<strong>تلرانس</strong>&nbsp;به نظر خواهد آمد . گرچه ، اگر B دقتی تا ۰٫۱ درصد را داشته باشد ، پس اکثر قرائت های B در صد ولت برابر با ۱۰۰٫۱ ولت است .
    </p>
    <p style="text-align: justify;">
        حالا اگر شما A را با B مقایسه کنید ، A
        در تلرانس قرار دارد . شما هم چنین می توانید مشاهده کنید که A در انتهای
        پایین محدوده ی تلرانس قرار دارد. تغییر دادن A باعث می شود نتایج رو به
        افزایش باشند و مانع کسب قرائت های اشتباه توسط A می شود چون این دستگاه
        بین&nbsp;<strong><em>کالیبراسیونها</em></strong>&nbsp;یک نوع جریان ثابت معمولی را تجربه می کند .
    </p>
    <h2 style="text-align: justify;"><strong>&nbsp;</strong><strong>روش</strong><strong>&nbsp;</strong><strong>کالیبراسیون تجهیزات آزمایشگاهی</strong></h2>
    <p style="text-align: justify;">
        <strong><em>روش کالیبراسیون</em></strong>&nbsp;:&nbsp;<strong>کالیبراسیون</strong><span style="text-decoration: line-through;">&nbsp;</span>،
        در ساده ترین شکل خود، مقایسه یک ابزار با یک استاندارد شناخته شده است.
        کالیبراسیون صحیح شامل استفاده از یک استاندارد قابل پیگیری NIST ،
        استانداردی که دارای گواهینامه ای است که نشان می دهد این استاندارد به شکل
        صحیحی با زنجیره ای از استاندارد ها که به یک استاندارد اصلی ختم می شود
        که در اختیار موسسه ی ملی استاندارد ها و فناوری قرار دارد، مقایسه شده
        است.
    </p>
    <h4 style="text-align: justify;"><strong>کالیبراسیون&nbsp;در عمل</strong></h4>
    <p style="text-align: justify;">
        در عمل ،&nbsp;<strong><em>کالیبراسیون</em></strong><em>&nbsp;</em>شامل
        تصحیح کردن می شود. معمولا زمانی که شما یک ابزار را برای کالیبره شدن می
        فرستید، شما مهر تاییدی بر تعمیر آن برای برگرداندن ابزار به حالت کالیبره
        شده ، اگر از ” کالیبره بودن ” دور باشد، می زنید . شما گزارشی دریافت
        خواهید کرد که نشان می دهد قبلا میزان خارج بودن از کالیبراسیون دستگاه
        چقدر بوده است ، و این مقدار بعدا چقدر است .
    </p>
    <p style="text-align: justify;">
        در رابطه با مثال ثانیه ها و دقایق ، شما
        خطای کالیبراسیونی را پیدا خواهید کرد که باید رفع شود تا دستگاه ” دقیقا
        صحیح ” حفظ شود ، ولی این خطا به خوبی در تلرانس های مورد نیاز برای اندازه
        گیری هایی که شما از آخرین کالیبراسیون داشته اید، قرار گرفته است .
    </p>
    <p style="text-align: justify;">
        اگر گزارش مذکور ، خطا های فاحش
        کالیبراسیون را نشان دهد ، ممکن است نیاز باشد کاری که با ابزار انجام می
        دهید را تکرار کنید و اندازه گیری های جدیدی داشته باشید تا زمانی که خطا
        ها آشکار شوند . شما از آخرین اندازه گیری ها شروع می کنید و به سمت اولین
        اندازه گیری ها پیش می روید . در یک کار هسته ای که جنبه های ایمنی آن مهم
        باشد ، بایستی تمامی اندازه گیری های انجام شده را از زمان کالیبراسیون
        قبلی دوباره انجام دهید .
    </p>
    <br />
    <img src="~/Content/shared/images/TowzinNegar/Weigh-Bridge-Calibration.jpg" style="max-width:40vw;max-height:50vw;" class="center-block" alt="کالیبراسیون باسکول" />
    <br />
    <h2 style="text-align: justify;"><strong>کالیبراسیون باسکول</strong></h2>
    <br />
    <p style="text-align: justify;">
        برای اینکه بتوان به دقت و صحت عملکرد باسکول اطمینان داشت لازم است معیار مشخصی برای سنجش آن تدوین شود و بر اساس آن تمام باسکول ها آزمون شوند. این آزمون در ایران توسط سازمان استاندارد برای کالیبره کردن باسکول انجام می شود و تمام مشاغلی که از باسکول استفاده می کنند لازم است با مراجعه به این سازمان گواهی صحت عملکرد توزین باسکول را دریافت کنند.
    </p>
    <p style="text-align: justify;">
        کالیبراسیون باسکول جاده ای توسط تعمیرکار باسکول توسط وزنه کالیبره صورت می پذیرد و در صورتی‌که نیاز به گواهی کالیبره باشد دستگاه توسط اداره استاندارد تست و کالیبره می‌شود. کالیبره باسکول یک امر حیاتی برای باسکول دیجیتال می باشد که تضمین کننده صحت عملکرد باسکول و دقت توزین می‌باشد.
    </p>
    <br />
    <h2 style="text-align: justify;"><strong>روند کالیبراسیون باسکول جاده ای چگونه است؟</strong></h2>
    <br />
    <p style="text-align: justify;">
        شرکت هایی که باسکول جاده ای نصب می‌کنند طبق قانون اداره استاندارد باید حداقل سالی یک بار گواهی استاندارد دریافت کنند. نکته‌ی مهم در امر گواهی استاندارد این است که اگر به هر دلیلی جزیی از باسکول که در امر توزین دخالت دارد مانند لودسل، اندیکاتور و … مورد تعمیر یا تعویض قرار گیرد، شرکت صاحب باسکول موظف است روند کالیبراسیون باسکول و کسب گواهی استاندارد را مجددا طی نماید.
    </p>
    <p style="text-align: justify;">
        به طور کلی دو روش عمده در کالیبراسیون باسکول و کسب گواهی استاندارد در ایران رایج می‌باشد؛

        برای اینکه بتوان به دقت و صحت عملکرد باسکول اطمینان داشت لازم است معیار مشخصی برای سنجش آن تدوین شود و بر اساس آن تمام باسکول ها آزمون شوند. این آزمون در ایران توسط سازمان ملی استاندارد ایران برای کالیبره کردن باسکول انجام می شود و تمام مشاغلی که از باسکول استفاده می کنند لازم است با مراجعه به این سازمان گواهی صحت عملکرد توزین باسکول را دریافت کنند.
    </p>
    <h2 style="text-align: justify;"><strong>۱- تست دوره ای استاندارد باسکول</strong></h2>
    <p style="text-align: justify;">
        در روش اول که تست دوره‌ای نیز نامیده می‌شود، اداراه استاندارد با توجه به لیست دارندگان باسکول و طبق زمان های از پیش تعیین شده اقدام به سرکشی و تست باسکول های نصب شده می‌کند و پس از سنجش دقیق باسکول اقدام به صدور گواهی استاندارد می کند. طبق روال معمول این اداره وزنه‌ی کالیبره به وزن ۲۱ تن بر روی باسکول جاده ای قرار گرفته و در صورت نمایش وزن با خطای حداکثر ±۵ کیلوگرم باسکول گواهی استاندارد را دریافت می‌کند و در صورت نمایش خطای بالاتر این باسکول مردود می‌شود.
    </p>
    <h2 style="text-align: justify;"><strong>۲- تست اختیاری صحت عملکرد باسکول</strong></h2>
    <p style="text-align: justify;">
        روش دوم که تست صحت عملکرد اختیاری نام دارد، زمانی است که دارنده‌ی باسکول جاده ای شخصاً با اداره استاندارد تماس گرفته و همانند روش اول اداره استاندارد طبق زمان تعیین شده به محل باسکول مراجعه کرده و اقدام به سنجش کالیبراسیون باسکول جاده ای و اعطای گواهی استاندارد می‌کند.
        مشکلی که در دو روش ذکر شده وجود دارد این است که اگر باسکول جاده ای در حین روند کالیبراسیون از سمت اداره استاندارد مردود شود، مجددا تمامی مراحل دریافت استاندارد باید از اول طی گردد. اما این مسئله راه‌حلی دارد که در روش سوم به آن می‌پردازیم.
    </p>

    <p style="text-align: justify;">
        در آخر باید ذکر کرد برای کالیبراسیون باسکول جاده ای ۶۰ تنی یا باسکول تریلی کش و همچنین برای کالیبراسیون باسکول جاده ای ۵۰ تنی یا کامیون کش از دو ارابه و ۲۱ تن وزنه‌ی استاندارد و تجهیزات جانبی استفاده می‌گردد.
    </p>
    <img src="~/Content/shared/images/TowzinNegar/Bascule Calibration.jpg" style="max-width:40vw;max-height:60vw;" class="center-block" alt=" کالیبراسیون باسکول60 تنی" />
    <br />
</div>