
@{
    ViewBag.Title = "گزارش_گیری_تحت_وب";
    Layout = "~/Views/Shared/ExampleLayout2.cshtml";
}


<div class="k-content k-rtl center-block" style="font-family: YekanIzady; width: 60%;min-width:400px;max-width:100%;">
    <br />
    <h1 style="margin-right:20px;">گزارش گیری تحت وب</h1>
    <br />
    <img src="~/Content/shared/images/TowzinNegar/TowzinNegarWebReport.png" style="max-width:40vw;max-height:20vw;" class="center-block" alt="Towzin Negar Web Report" />
    <br />
    <p style="margin-right:20px;">مشاهده آنلاین و گزارشگیری از اطلاعات توزین تحت وب بر روی گوشی های آندروید ، آیفون و لپ تاپ</p>
    <br />
    <img src="~/Content/shared/images/TowzinNegar/TowzinNegarWebApp.jpeg" style="max-width:40vw;max-height:60vw;" class="center-block" alt="Towzin Negar Web App" />
    <br />
</div>